.cnt{
    text-align: center;
}
.form-login{
    margin-top:15%;
    border: 1px solid transparent;
    border-color: #e7e7e7;
}
.gray a{
    color: graytext;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 20px; 
}

